<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>e</title>
</head>
<body>
{ally},<br><br>

You have been invited by {user} to use an awesome tool designed to help you beat quota by:

<ul>
	<li>partnering with sales partners</li>
	<li>exchanging contacts into new accounts</li>
	<li>getting accurate account information</li>
</ul>
<br />
All you need to do is sign up by <strong>clicking</strong> on the link below.<br /><br />

<a href="http://{link}">Sign Up by pressing this link!</a> <br><br>

We recommend that you take the 5-minute tutorial by clicking here:
<a href="http://demo.allyforce.com/5-minute-tutorial">Click for 5-minute tutorial</a><br /><br />
Thanks for using Allyforce!<br /><br />
 
<b>Allyforce</b><br>
Exchange Leads Securely and Easily with Other Sales Reps You Trust

</body>
</html>