<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Request for Contacts</title>
</head>
<body>
{ally},<br><br>

Hey! Exchange leads with {user} right now:<br /><br />

Here's what {user} has to say to you:<br /><br />

{message}
 
<br /><br />


<a href="http://{link}"> Click here now!</a> <br><br>

{offers}<br>
 
Allyforce<br />
http://www.allyforce.com<br />
"Ultimate Personal Referral Network"

 
</body>
</html>