<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
{ally},<br><br>

Hey! Help an ally out, and maybe an ally can get you into companies <b>you</b> target! <br><br/>

Here's what {user} has to say to you:<br><br/>
<i>

{message} <br><br>
</i>
To respond quickly and easily (and also be sure to see what you can get in return), click this link:<br><br>

<a href="{link}"> Click here now!</a> <br><br>

{offers}<br>
 
Allyforce.com "Don't Fly Solo!"<br>
 
</body>
</html>