<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>allyforce -- sending contact</title>
</head>
<body>
{ally},<br><br>

Hey, you just got a contact for an account. It could be something good. <br><br>

Here's what {user} has to say: <br/><br/>

<i> {message}</i> <br>
<br>
See the contact information by coming back to this link:  <br><br>

<a href="{link}">click this link!</a> <br><br>

Want to keep these leads (the Glengarry Glen leads!) coming? Give something in return! <br><br>

Here are some of the accounts that {user} is searching for:<br/><br/>

{offers}
 
Allyforce.com "Don't Fly Solo!"<br>
 
</body>
</html>